<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878169348187-ui98ogvr82erevhpjdosficapu6o6743.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878169348187-ui98ogvr82erevhpjdosficapu6o6743</string>
	<key>API_KEY</key>
	<string>AIzaSyDnQtDWLjKTIPbUbeGQOLOiYu370S1Qyts</string>
	<key>GCM_SENDER_ID</key>
	<string>878169348187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wiseSpendApp</string>
	<key>PROJECT_ID</key>
	<string>wisespend-ae50c</string>
	<key>STORAGE_BUCKET</key>
	<string>wisespend-ae50c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878169348187:ios:73d7879b0c76de9339877e</string>
</dict>
</plist>